@import "src/styles/scaffold";

.newsletter-main {
  width: 100%;
  background: url('../../../../public/images/bg-newsletter.png') no-repeat;
  background-size: cover;
  
  &__container {
    margin: 0 auto;
    padding: rem(50px) 0 rem(30px) 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    width: 40%;
    h3 {
      margin-bottom: rem(12px);
      font-size: rem(38px);
      font-weight: 900;
      color: #fff;
    }
    
    p {
      font-size: rem(18px);
      line-height: rem(25px);
      color: #fff;
    }
  }

  &__terms {
    margin-top: rem(16px);
    display: flex;
    align-items: center;
    gap: rem(10px);

    input {
      cursor: pointer;
    }

    label {
      font-size: rem(18px);
      color: #fff;

      a {
        color: #fff;
      }
    }
  }

  &__form {
    width: 57%;

    form {
      display: flex;
      align-items: center;
      gap: rem(20px);

      input {
        padding: rem(13px) rem(40px) rem(13px) rem(15px);
        border-radius: rem(30px);
        border: none;
        outline: none;
      }
      
      button {
        background: #000;
        width: rem(150px);
        padding: rem(13px) rem(20px);
        border-radius: rem(30px);
        border: none;
        outline: none;
        font-size: rem(15px);
        font-weight: 900;
        color: #fff;
        cursor: pointer;
      }
    }
  }
}